      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">EtapNotif</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="index.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Navigation
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item" *ngIf="access">
            <a [routerLink]="['/users']" class="nav-link collapsed" href="#">
                <i class="fas fa-fw fa-cog"></i>
                <span>Users</span>
            </a>
        </li>
       
      <li class="nav-item">
        <a [routerLink]="['/contracts']" class="nav-link collapsed" href="#">
            <i class="fas fa-fw fa-cog"></i>
            <span>Contracts</span>

        </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/notifications']" class="nav-link collapsed" href="#">
          <i class="fas fa-fw fa-cog"></i>
          <span>Notifications</span>

      </a>
  </li>
        <li class="nav-item">
          <a [routerLink]="['/supplier']" class="nav-link collapsed" href="#">
              <i class="fas fa-fw fa-cog"></i>
              <span>Supplier</span>

          </a>
      </li>
    
   
 



    </ul>
    <!-- End of Sidebar -->
